<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Admin panel</title>
    </head>
    <body>
        <nav class="models">
            <li>Webo</li>
            <li><a>{{model.name}}</a></li>
        </nav>
    </body>
<html>