<html>
    <head>
        <link rel="stylesheet" href="src/main/resources/static/styles.css">
        <title>Admin panel</title>
    </head>
    <body>
        <div>
            {{user}}
        </div>
    </body>
<html>