<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Admin panel</title>
</head>
<body>
<header>
    <nav class="models">
        <li>Webo</li>
        <a href="/admin">
            <li class="dim">Home</li>
        </a>
        <a href="/admin/users">
            <li>Users</li>
        </a>
        <a href="/admin/profiles">
            <li>Profiles</li>
        </a>
    </nav>
</header>
</body>
<html>