<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Admin panel</title>
</head>
<body>
<nav class="models">
    <li>Webo</li>
    <li class="dim"><a href="/admin">Home</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/profiles">Profiles</a></li>
</nav>
</body>
<html>