<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Profiles</title>
</head>
<body>
<header>
    <nav class="models">
        <li>Webo</li>
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li class="dim"><a href="/admin/profiles">Profiles</a></li>
    </nav>
</header>
<section>
    <table>
        <tr>
            <th><input type="checkbox" id="all" name="all" value="all"></th>
            <th></th>
            <th>id</th>
            <th>name</th>
            <th>bio</th>
            <th>location</th>
            <th>website</th>
            <th>displayPicture</th>
            <th>dateOfBirth</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</section>
</body>
<html>