<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Users</title>
</head>
<body>
<nav class="models">
    <li>Webo</li>
    <li><a href="/admin">Home</a></li>
    <li class="dim"><a href="/admin/users">Users</a></li>
    <li><a href="/admin/profiles">Profiles</a></li>
</nav>
<div>
    <table>
        <tr>
            <th><input type="checkbox" id="all" name="all" value="all"></th>
            <th></th>
            <th>id</th>
            <th>handle</th>
            <th>email</th>
            <th>dateCreated</th>
            <th>dateModified</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
<html>