.navigation {
	width: 100%;
	z-index: auto;
}

.home,
.explore,
.notifications,
.messages,
.bookmarks,
.profile,
.more {
	font-size: 25px;
	width: 100%;
}

.image {
	margin-right: 25px;
}

.navbar {
	align-items: center;
	list-style-type: none;
	margin-top: 50px;
	text-align: left;
}

.navItem {
	margin: 35px 0px;
}

.navItem:hover {
	font-weight: bolder;
}

.webBtn {
	padding: 15px;
	width: 80%;
	border-radius: var(--border-radius);
	margin-top: 10px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	font-weight: bolder;
	margin-right: 105px;
}

.webBtn:hover {
	cursor: pointer;
	background-color: var(--primary-color-lighter);
}

.logo {
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
}

.profileBtn {
	display: flex;
	flex-flow: nowrap row;
	gap: 15px;
	padding: 10px 10px;
	text-align: left;
	margin-top: 250px;
	width: 100%;
}

.profileBtn:hover {
	background-color: var(--background-color);
	width: 100%;
	border-radius: 100px;
	cursor: pointer;
}

.profileBtn h3 {
	margin-top: 3px;
}

.profilePic {
	border-radius: var(--border-radius);
}

.ellipsis {
	margin-top: 20px;
}

.more {
	cursor: pointer;
}

.modal {
	visibility: hidden;
	position: fixed;
	top: 350px;
	left: 380px;
	margin: auto;
	z-index: 2;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	min-width: 300px;
	border-radius: 12px;
	text-align: left;
	line-height: 2;
}

.modal a {
	font-size: 25px;
}

.modalItem {
	display: flex;
	gap: 30px;
	align-items: center;
}

.modalItem2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
}

.modalItem2 p {
	font-weight: bolder;
}
.borderLine {
	border-top: 1px solid var(--border-color);
}
