/* Navigation bar */

.navigation {
	position: fixed;
	left: 400px;
}

.home,
.explore,
.notifications,
.messages,
.bookmarks,
.profile,
.more {
	font-size: 25px;
	width: 100%;
}

.image {
	margin-right: 25px;
}

.navbar {
	align-items: center;
	list-style-type: none;
	margin-top: 50px;
	text-align: left;
	margin-left: 0px;
	width: 15vw;
}

.navItem {
	margin: 35px 0px;
}

.navItem:hover {
	font-weight: bolder;
}

.twitchBtn {
	padding: 15px;
	width: 70%;
	border-radius: var(--border-radius);
	margin-top: 10px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	font-weight: bolder;
	margin-right: 105px;
}

.twitchBtn:hover {
	cursor: pointer;
	background-color: var(--primary-color-lighter);
}

.logo {
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
}

.profileBtn {
	display: flex;
	flex-flow: nowrap row;
	gap: 15px;
	/* margin-top: 20px; */
	padding: 10px 10px;
	text-align: left;
	margin-top: 250px;
}

.profileBtn:hover {
	background-color: var(--background-color);
	width: 90%;
	border-radius: 100px;
	cursor: pointer;
}

.profileBtn h3 {
	margin-top: 3px;
}

.profilePic {
	border-radius: var(--border-radius);
}

.ellipsis {
	margin-top: 20px;
	margin-left: 10px;
}

.more {
	cursor: pointer;
}

.modal {
	visibility: hidden;
	position: absolute;
	top: 400px;
	left: 90px;
	margin: auto;
	z-index: 1;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
