.home,
.explore,
.notifications,
.messages,
.bookmarks,
.profile,
.more {
	font-size: 25px;
	width: 100%;
}

.image {
	margin-right: 25px;
}

.navbar {
	display: block;
	align-items: center;
	list-style-type: none;
	margin-top: 50px;
	text-align: left;
	margin-left: 0px;
	width: 15vw;
}

.navItem {
	margin: 35px 0px;
}

.navItem:hover {
	font-weight: bolder;
}

.twitchBtn {
	padding: 15px;
	width: 70%;
	border-radius: var(--border-radius);
	margin-top: 10px;
	background-color: black;
	color: white;
	border: none;
	font-weight: bolder;
	margin-right: 105px;
}

.twitchBtn:hover {
	cursor: pointer;
	background-color: #252625;
}

.logo {
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
}

.mainFeed {
	border: 1px solid #ccc;
	width: 30vw;
}

.header {
	font-size: 28px;
	text-align: left;
	margin: 15px;
}

.sidebar {
	font-size: 20px;
	margin: 15px;
	text-align: left;
	width: 15vw;
}

.search {
	border-radius: var(--border-radius);
	padding: 10px;
	border: none;
	margin: auto;
	width: 300px;
	margin-right: 250px;
}

.search:focus {
	border: 1px solid var(--primary-color);
	outline: none;
}
